*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial;
}

body {
    background-color: white;
    margin: 0em;
    padding: 0em;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
    height: 100%;
    width: 100%;
}

html {
    font-size: clamp(0.4rem, 2.65vh, 2.5em);
}

@media screen and (max-width: 600px) {
    html {
        font-size: clamp(0.4rem, min(4.75vw, 2.65vh), 2.5em);
    }
}

.page {
    visibility: hidden;
    position: absolute;
    margin-top: .5em;
    padding-top: .5em;

    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.page.active {
    visibility: visible;
    position: relative;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    display: inline-flex;
    gap: 1em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.underline {
    width: 19em;
    margin: .5em auto 0;
    height: 2px;
    background: hsl(209, 7%, 78%);
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 18.5em;
}

.box.left {
    justify-content: left;
}

.box.right {
    justify-content: right;
}

.icon {
    height: 1.25em;
    user-select: none;
    cursor: pointer;
}

.button {
    height: 2.1em;
    background: black;
    border: none;
    border-radius: .25em;
    font-weight: bold;
    font-size: 1.1em;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.button.play {
    width: 9em;
    margin-top: 1.60em;
}

.button.hint {
    width: 9em;
    color: black;
    background: white;
    border: solid black .1em;
}

.timer {
    margin-top: 1em;
    display: flex;
    align-items: center;
    font-weight: bold;
    border-radius: .25em;
    border: solid black;
    width: 5em;
    padding: 0.2em;
}

.gap-game1 {
    margin-top: 1em;
}

.gap-game2 {
    margin-top: 1.5em;
}

.text-timer {
    padding-left: 0.2em;
}

.text-game {
    font-size: 1em;
    font-weight: bold;
}

.text-game-small {
    font-size: 0.5em;
    font-weight: bold;
    font-style: italic;
}

.card {
    border: .1em solid black;
    border-radius: .2em;
    padding: .4em;
    margin: .2em;
}

.gray {
    background-color: gray;
}

.green {
    background-color: green;
}

.card.output {

}
